<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="topo">Meus Gostos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <br>
  <br>
  <br>
  <ion-list>
    <ion-item>
      <ion-label>-Gosto de fazer academia:
        <p>Faço de 4 a 5 vezes na semana.</p></ion-label>
        <br>
    </ion-item>

    <br>
    <br>
    <br>


    <ion-item>
      <ion-label>-Gosto de ler e aprimorar o que sei:
        <p>separo de 1 a 2 horas para leitura de livros de meu interrese.</p> </ion-label>
    </ion-item>
    <br>
    <br>
    <br>

    
    <ion-item>
      <ion-label>-Gosto de jogar :
        <p>Jogo em meu tempo livre uma gama variada de jogos.</p>  </ion-label>
    </ion-item>
    <br>
    <br>
    <br>

    <ion-item>
      <ion-label>-Gosto de viajar:
        <p>Conhecer novos lugares e ter novas experiências.</p>  </ion-label>
    </ion-item>
    <br>
    <br>
    <br>

    <ion-item>
      <ion-label>-Gosto de assistir séries :
        <p>De vez em quando assisto séries como hobbie.</p>  </ion-label>
    </ion-item>
    <br>
   



  </ion-list>
  <ion-content>
    <ion-button routerLink="/home" class="botao">Voltar</ion-button>
  </ion-content>

</ion-content>