<ion-content >
  <br>
  <br>
  <br>
  <ion-list>
    

    <ion-item>
      <ion-label>-Email:
        <p>miguelcestrela02</p> </ion-label>
    </ion-item>
    <br>
    <br>
    

    
    <ion-item>
      <ion-label>-Telefone:
        <p>+55 42 99957-7119</p>  </ion-label>
    </ion-item>
    
    <br>
    <br>

    <ion-item>
      <ion-label>-Instagram:
        <p></p> miguelcosta_estrela </ion-label>
    </ion-item>
    
    <br>
    <br>

    <ion-item>
      <ion-label>-GitHub:
        <p>MiguelCostaEstrela</p>  </ion-label>
    </ion-item>
    <br>
   



  </ion-list>
  <ion-content>
    <ion-button routerLink="/home" class="botao">Voltar</ion-button>
  </ion-content>

</ion-content>
