<ion-content >
  <br>
  <br>
  <br>
  <ion-list>
    
    <br>
    <br>
    <br>


    <ion-item>
      <ion-label>-OBJETIVO PROFISSIONAL
      
        <p>Desejo trabalhar em um ambiente onde possa colocar</p><p>  em prática meus conhecimentos e
          experiências em <p>avor da instituição que viso integrar, focando sempre</p><p> o crescimento meu e da
          empresa.</p> </ion-label>
    </ion-item>
    <br>
    <br>
    <br>

    
    <ion-item>
      <ion-label>-HABILIDADES PESSOAIS
        <p> Sou uma pessoa de fácil convivência e comunicação</p> <p>com a equipe, com muita disposição para
          trabalhar</p> <p>e aberto a novos desafios. Sou educado, organizado</p><p> e pontual. Sempre me preparei para
          o mercado de </p><p>tarbalho, em vista de poder contribuir para a empresa</p><p> e poder ser um membro
          integrado em meus afazeres </p><p> com meus colegas.</p>  </ion-label>
    </ion-item>
    <br>
    <br>
    <br>

    
   



  </ion-list>
  <ion-content>
    <ion-button routerLink="/home" class="botao">Voltar</ion-button>
  </ion-content>

</ion-content>
