<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="topo">
      --Curriculo do Miguel Costa Estrela--
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content padding>
  <img src="assets/Foto Miguel.jpg" alt="Minha Imagem" width="50%" class="img">
</ion-content>
  <ion-content>
    <ion-button routerLink="/formacao" class="botao">Formações</ion-button>
    <br>
    <ion-button routerLink="/gostos" class="botao">Meus Gostos</ion-button>
    <br>
    <ion-button routerLink="/sobre" class="botao">Sobre mim</ion-button>
    <br>
    <ion-button routerLink="/contatos" class="botao">Meus contatos</ion-button>
  </ion-content>

