<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="topo">Formações</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <br>
    <br>
    <br>
  <ion-list>
    <ion-item>
      <ion-label>Sesi: Formado em 2021 : 
        <p>Ensino médio completo.</p></ion-label>
    </ion-item>

    <br>
    <br>
    <br>

    <ion-item>
      <ion-label>Senai: Curso de eletrotécnica :
        <p>Curso completo.</p> </ion-label>
    </ion-item>
    <br>
    <br>
    <br>

    
    <ion-item>
      <ion-label>Faculdade Uniguairacá Centro Universitário :
        <p>Faculdade de TADS - 2/5 completos.</p>  </ion-label>
    </ion-item>
    

  </ion-list>
  <ion-content>
    <ion-button routerLink="/home" class="botao">Voltar</ion-button>
  </ion-content>

</ion-content>
